name: Gatsby PR Check

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Tests
        run: |
          npm install
          npm run test:e2e:ci
          
